<!DOCTYPE html>
<html>
  <head>
    <title>A Braintree Drop In Payments Example</title>
    <script src='braintree.js'></script>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'>
  </head>
  <body>
    <form action='/process' method='post'>
      <div id='checkout'>

      </div>
      <input type='submit' id='pay' value='Pay'>

    </form>
  </body>

  <script charset='utf-8'>
    braintree.setup(<%= @client_token %>, 'dropin', {
      container: 'checkout',
    });
  </script>
</html>
