<!DOCTYPE html>
<html>
  <head>
    <title>A Braintree Dropin Payments Example</title>
    <script src="https://js.braintreegateway.com/js/beta/braintree-2.0.0-rc2.js"></script>
    <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.min.css'>
  </head>
  <body>
    <div class='container'>
      <form action='/process' method='post'>
        <h2>Payment form</h2>

        <div id='checkout'>

        </div>

        <input type='submit' value='Submit Payment' class='btn btn-primary btn-lg'>

      </form>
    </div>

    <script charset='utf-8'>
      braintree.setup(<%= @client_token %>, 'dropin', {
        container: 'checkout'
      });
    </script>
  </body>
</html>
